@model PracticProject.Models.TasksFolder.TaskViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4>Добавление новой задачи</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!--Html.EditorFor(model => model.Description)-->
                @Html.TextAreaFor(model => model.Description, new { cols = 35, @rows = 5 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.TaskLanguage.Name, "Язык задания", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TaskLanguageId")
                @Html.ValidationMessageFor(model => model.TaskLanguageId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnswerLanguage.Name, "Язык ответа", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnswerLanguageId")
                @Html.ValidationMessageFor(model => model.AnswerLangId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>

    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
